*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#p1 {
    background-color: darkcyan;
}
.menu-list {
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding: 0 5px;
}
h2 ~ table {
    border: 3px solid green;
    border-collapse: collapse;
}
tr {
    border-bottom: 2px solid darkkhaki;
}
td, th {
    border-right: 2px solid black;
    text-align: center;
}
td:nth-last-child(1) {
    border: none;
}
